<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/reset.css">

</head>
<body>
    <div class="container">
        <h1>LEADERBOARDS</h1>
        <div class="nave"><img src="player1.png"></div>
        <ul class="leaders">
            <li class="modelo"><span>Player</span> <span>Score</span></li>
            <li><span>pedro</span> <span>300</span></li>
            <li><span>gabriel</span> <span>200</span></li>
            <li><span>juliana</span> <span>100</span></li>
        </ul>
        </div>
    </div>
</body>
</html>